body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D9C2A7;
}
header{
    padding: 15px;
    background: #6B3E2E;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 100px;
}
nav ul li{
    display: flex;
    gap: 100px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left: -22px;
}
nav ul li ul{
    display: flex;
    gap: 100px;
}
nav ul li:hover ul{
    display: flex;
}
a:hover{
    border-bottom: 2px solid white;
}

a:hover{
    border-bottom: 2px solid white;
}
main {
    width: 430px;
    margin: 0 auto;
   padding-top: -70px;
}   
.begl1 {
    margin-left: 30px;
    margin-top: -300px;
    border: 5px solid brown;
}
.p1 {
    width: 110%;
    height: 120px;
    background:#6B3E2E;
    position: relative;
    magrid-left: 100px;
    color: white;
    padding: 10px;
    border-radius: 3%;
    border: 4px solid black;
}
.pretzel1{
    width: 90%;
    background:#6B3E2E;
    position: relative;
    margin-left: 600px;
    margin-top: -900px;
    border: 5px solid brown;

}
.pr {
    background: #6B3E2E;
    height: 120px;
    width: 110%;
    position: relative;
    margin-left: 570px;
    color: white;
    padding: 10px;
    border-radius: 3%;
    border: 4px solid black;
}
.pizza {
    width: 90%;
    position: re;
    margin-left: 20px;
    margin-top: -100px;
    border: 5px solid brown;
}
.pz {
    background: #6B3E2E;
    height: 120px;
    width: 110%;
    position: relative;
    color: white;
    padding: 2px;
    border-radius: 3%;
    padding: 10px;
    border: 4px solid black;
}
.burger1 {
     width: 90%;
    position: relative;
    margin-left: 600px;
    margin-top: -500px;
    border: 5px solid brown;
}
.br {
    background: #6B3E2E;
    height: 120px;
    width: 110%;
    position: relative;
    color: white;
    padding: 2px;
    border-radius: 3%;
    padding: 10px;
    margin-top: 0px;
    margin-left: 570px;
    margin-bottom: 10px;
    border: 4px solid black;

}
h1 {
    text-alig38pxn: left;
    padding-left: 10px;
    font-size: 84px;
}
h2 {
    text-align: left;
    padding-left: 10px;
    font-size: 40px;
    color: #6B3E2E
}
.zbk {
    width: 22%;
    height: 970px;
    background: #6B3E2E;
    position: absolute;
    right: 1450px;
    margin-top: -1000px;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    color: white;
    border: 4px solid black;
}
footer {
    background: #6B3E2E;
    border: 4px solid black;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 5px;

}